/* This is my  css file */



.error {
    color: red;
}

.gs-my-service-block {
    background: aqua;
    padding: 20px;
    margin-top: 20px;
    margin-left: 15px;
    box-sizing: border-box;
    width: 29%;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/**********  Style for Popup**********/

.modal-dialog {
    width: 600px !important;
    margin: 150px auto !important;
}

button.btn.my_service_gs_btn {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

button.btn.my_service_gs_btnyes {
    background-color: #000000;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

/**********  Style for Popup**********/


/****************/

h3.servicenamecls {
    font-size: 14px;
    color: black;
    font-weight: 600;
    padding: 1px;
    line-height: 20px;
    letter-spacing: 1px;
}

h3.serviceprovidercls {
    font-size: 12px;
    padding: 1px;
    color: black;
    font-weight: 600;
    text-align: center;
    line-height: 16px;
    letter-spacing: 2px;
}



/*****************/

/*
input#pippin_login_submit {
    font-size: 14px;
    border-radius: 5px;
    background-color: #000000;
}
*/

/**********************************************************/


